<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup>
 <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup>

  <!-- Add these to you app settings in the unit test project -->
  <appSettings>
    <!-- For Office 365 MT sites are https://[tenant]-admin.sharepoint.com and https://[tenant].sharepoint.com/sites/dev -->


    <!-- Priority 3: For app only testing provide a realm, app id and app secret -->
    <add key="Realm" value="a6623c9e-30c7-493b-87bc-d907df44a26e" />
    <add key="AppId" value="b5bdf20c-2917-5178-3309-5deb57ee6c89" />
    <add key="AppSecret" value="" />

    <!-- Permission XML for app only test
  <AppPermissionRequests AllowAppOnlyPolicy="true" >
    <AppPermissionRequest Scope="http://sharepoint/content/tenant" Right="FullControl" />
    <AppPermissionRequest Scope="http://sharepoint/taxonomy" Right="Write" />
    <AppPermissionRequest Scope="http://sharepoint/search" Right="QueryAsUserIgnoreAppPrincipal" />
    <AppPermissionRequest Scope="http://sharepoint/social/tenant" Right="FullControl" />
  </AppPermissionRequests>    
    -->

    <!-- Support for Azure based testing -->
    <add key="AzureStorageKey" value="" />
  </appSettings>
  
</configuration>
